# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: availlan <availlan@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2013/12/26 19:41:28 by availlan          #+#    #+#              #
#    Updated: 2013/12/26 19:41:34 by availlan         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.o
